<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.supervital.lab3"
    android:versionCode="2"
    android:versionName="2.0" >
<!-- FILE 3 -->
    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="5" />
    
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
		    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
                <!-- AppTheme  LoginFormContainer -->

        <activity
            android:name="ru.supervital.lab3.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.supervital.lab3.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="ru.supervital.lab3.MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.supervital.lab3.MainActivity" />
        </activity>
    
    </application>
    
</manifest>